@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --black: #000000;
  --text: #3d3d3d;
  --grey: #848484;
  --light-grey: #bbbbbb;
  --white: #ffffff;
}

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: "Chivo", sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--white);
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: var(--white);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 20px;
}

input[type="checkbox"] {
  accent-color: var(--text);
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Remove arrows in Chrome, Safari, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Internet Explorer 10+ */
input[type="number"] {
  -ms-appearance: textfield;
}

.pages {
  padding-top: 80px;
}

.wrapper{
  padding: 100px;
  max-width: 1536px;
}

@media only screen and (max-width: 1024px){
  .wrapper{
    padding: 50px;
  }
}

@media only screen and (max-width: 425px){
  .wrapper{
    padding: 20px;
  }
}